<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Pulsar catalago</mat-card-title>
        <mat-card-subtitle>Catalogo de pulsares registrados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.gifer.com/origin/aa/aaaa299dde7d1d3f2b1010656203db27.gif" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            <p>A existência de estrelas de nêutrons foi primeiramente proposta por Walter Baade e Fritz Zwicky em 1934,
            quando argumentaram que uma pequena e densa estrela consistindo primariamente de nêutrons resultaria de uma
            supernova.[4] Em 1967, pouco antes da descoberta dos pulsares, Franco Pacini, astrofísico italiano, sugeriu
            que uma estrela de nêutrons em rotação com um campo magnético, emitiria radiação e notou que tal energia
            poderia adentrar os remanescentes de supernova que se encontram ao redor de uma estrela de nêutrons, como a
            Nebulosa do Caranguejo.</p>

            <p>Em julho de 1967, começara a funcionar um grande rádiotelescópio desenvolvido por Antony Hewish em
            Cambridge, Inglaterra, composto por 2 048 dispositivos de recepção separados, espalhados por uma área de 18
            000 m2. Ele era destinado a estudar as cintilações de fontes de rádio localizadas no espaço. Essas
            cintilações são causadas pelas flutuações na densidade do plasma interplanetário.</p>

            <p>Jocelyn Bell Burnell, uma estudante de pós-graduação, que era a responsável pela análise preliminar dos
            dados, notou um sinal estranho que subitamente desapareceu, vindo a reaparecer três meses depois. 
            
            <p>O grupo de
            Hewish concentrou-se nesse estranho sinal, localizando entre as estrelas Vega e Altair, e descobriu que os
            pulsos de rádio ocorriam numa taxa extremamente regular, a cada 1,33730113 s e com uma duração de 0,05s
        </p>
    </mat-card-content>
</mat-card>